/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Inter Tight', sans-serif;
	margin: 0;
}

$debug: 1px;

* {
	box-sizing: border-box;
	outline: $debug solid rgba(255, 0, 0, 0.1);
}
